
  <div class="content">
    <div class="up">
      <div class="logo">
        <span>Feedz</span>
      </div>
    

      <div class="searchbar">
        <input type="search" placeholder="Search">
      </div>
    </div>
    
    <div class="down">
      <div class="iconbar">
        <div class="topicon">
          <a mat-raised-button class="btn">Home</a>
        </div>
        <div class="topicon">
          <a mat-raised-button class="btn">Sign In</a>
        </div>
        <div class="topicon">
          <a mat-raised-button class="sbtn">Sign Up</a>
        </div>
      </div>
    </div>
    
</div>