<meta name="viewport" content="width-device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="content">
    <div class="sec1">
        <h2>Let's ask from your audience..!</h2>
    </div>
    <div class="sec2">


        <div class="left">
            <div class="fieldl"><div class="btn"><button class="btn1">Quiz</button></div></div>
            <div class="fieldl"><div class="btn"><button class="btn2">Ratings</button></div></div>
            <div class="fieldl"><div class="btn"><button class="btn3">Multiple Choice</button></div></div>
        </div>

        <div class="right">
            <div class="fieldr"><div class="btn"><button class="btn3">Word Cloud</button></div></div>
            <div class="fieldr"><div class="btn"><button class="btn5">Open Text</button></div></div>
            <div class="fieldr"><div class="btn"><button class="btn6">Survey</button></div></div>
        </div>
        
        

    </div>

    <div class="sec3">
        
    </div>
</div>
